h1 {
    font-family: "Source Sans Pro", sans-serif !important; /*noshame. foundation is a pain*/
    font-size: 33.2pt !important; /*#noshame*/
    font-weight: 300 !important;
}

html, body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    height: 155px; /* .push must be the same height as .footer */
    font-size: 11pt !important; /*#noshame*/
}

#share-buttons {
    margin: auto;
    margin-bottom: 2rem;
}

.entypo-export {
    background-color: rgba(255, 202, 202, 0.32) !important;
    color: rgba(244, 93, 98, 0.46) !important;

    border-radius: 0 !important;
}

.entypo-export span {
    font-family: sans-serif !important;
}

#subtitle {
    font-size: 14pt !important; /*#noshame*/
    font-family: "Source Sans Pro", sans-serif !important; /*noshame. foundation is a pain*/

    font-weight: 300 !important;
}

.logo {
    height: 6rem;
    width: auto;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    text-decoration: underline;
    color: rgba(246, 78, 84, .9);
}

.credits > a {
    color: rgba(246, 78, 84, 0.78);
}

a:hover {

    color: rgba(235, 70, 76, 1);
}

.credits {
    width: 100%;

    color: #CCC;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 3rem;
}

#subtitle {
    padding: 0;
    margin-top: 0;
    text-align: center;
}
#title {
    text-align: center;
}


input[type="file"] {
    display: none;
}

.fileupload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: .7rem 12px;
    cursor: pointer;

    margin: 20%;
    margin-bottom: 5rem;
    display: block;
    text-align: center;

    box-shadow: 0px 2px 500px rgba(0,0,0,.1);
}

.finalImage {
    margin:auto;
    display: block;
}

#loading {
    margin-top: 3rem;
    text-align: center;
    display: none;
}


@media screen and (min-width: 64em) {
    #title {
        padding: 1rem;
        padding-top: 2.2rem;
        padding-bottom: 0;
        text-align: left;
    }

    #subtitle {
        padding: 1rem;
        padding-left: 7rem;
        margin-top: -1.5rem;
        text-align: left;
    }

    .fileupload {
        margin-top: 5%;
    }
}
